* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.img-responsive {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*### Colors ###*/
/*--### Font Family ###--*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "DM Sans", sans-serif;
}

.container-fluid {
  padding: 0 5%;
}

section {
  padding: 5% 0;
}

h1 {
  font-size: 85px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: #460cc8;
}

h2 {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #460cc8;
}

p {
  font-size: 20px;
  margin-bottom: 26px;
  line-height: 1.7;
}

.button {
  background-image: linear-gradient(130deg, #ed652d, #480cba, #eb642c, #490cbb);
  background-size: 300% 100%;
  width: fit-content;
  padding: 12px 45px;
  font-size: 20px;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.button a {
  color: #fff;
}

.heading-color {
  color: #000;
}

.col-12 {
  padding: 0 30px;
}

.page-header {
  background: #f16700;
}
.page-header .container-fluid .row {
  text-align: center;
  padding-top: 100px;
  color: #fff;
}
.page-header .container-fluid .row h1 {
  color: #fff;
}

@media (max-width: 768px) {
  .col-12 {
    padding-top: 18px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .img-txt-section .container-fluid .row .content {
    padding: 40px 50px !important;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
}
@media (max-width: 400px) {
  h1 {
    font-size: 35px;
    line-height: 1.2;
  }
  section {
    padding: 10% 0;
  }
  .img-txt-section .container-fluid .row .content {
    padding: 40px 10px !important;
  }
}
header {
  background: white;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.1098039216);
  padding: 0px 0;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 100%;
  z-index: 5;
}
@media (max-width: 991px) {
  header {
    padding: 12px 0;
  }
}
header .navbar .logo img {
  width: 130px;
}
@media (max-width: 575px) {
  header .navbar .logo img {
    width: 220px;
  }
}
@media (max-width: 400px) {
  header .navbar .logo img {
    width: 165px;
  }
}
header .navbar .navbar-collapse {
  justify-content: end;
}
header .navbar .navbar-collapse ul li a {
  color: #000 !important;
  font-size: 17px;
  margin: 0 10px;
  padding: 40px 22px;
  border-bottom: 1px solid transparent;
}
@media (max-width: 991px) {
  header .navbar .navbar-collapse ul li a {
    padding: 8px 0;
  }
}
header .navbar .navbar-collapse ul li a:hover {
  color: #f16700 !important;
  border-color: #f16700;
}

header .btn:hover {
  margin-left: 0px !important;
}
header .btn .menu-btn:hover {
  color: #fff;
  margin-left: 0 !important;
}

/*## Banner-Section ##*/
.banner-section {
  background: url("../img/Banner-bg.png");
  background-repeat: no-repeat;
  background-position: bottom;
}
.banner-section .container-fluid .row {
  padding-top: 86px;
  text-align: center;
}
.banner-section .container-fluid .row .content {
  width: 1294px;
  margin: 0 auto;
}
.banner-section .container-fluid .row .content .text {
  margin-bottom: 70px;
}
.banner-section .container-fluid .row .content .text .button {
  margin: 0 auto;
}
.banner-section .container-fluid .row .content .video {
  position: relative;
}
.banner-section .container-fluid .row .content .video:hover img {
  opacity: 0.2;
}
.banner-section .container-fluid .row .content .video:hover .icon {
  opacity: 1;
}
.banner-section .container-fluid .row .content .video .image img {
  border-radius: 18px;
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.0901960784);
  transition: 0.3s all;
}
.banner-section .container-fluid .row .content .video .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: all 0.5s;
}
.banner-section .container-fluid .row .content .video .icon i {
  font-size: 110px;
  background-image: linear-gradient(130deg, #ed652d, #480cba);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.problem-statement .container-fluid .bottom-text {
  background: #470cc4;
  padding: 46px 52px;
  border-radius: 15px;
}
.problem-statement .container-fluid .bottom-text .text p {
  color: #fff;
  text-align: center;
  line-height: 1.9;
}

.approach-section {
  background: #f5f6f8;
}

.benefits-section .container-fluid .text {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.benefits-section .container-fluid .button {
  margin: 0 auto;
}
.benefits-section .container-fluid .benefits-blurb {
  padding: 30px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1294117647);
}
.benefits-section .container-fluid .benefits-blurb .col-md-4 {
  padding: 0px 30px;
}
.benefits-section .container-fluid .benefits-blurb .col-md-4 .content .icon {
  margin-bottom: 19px;
}
.benefits-section .container-fluid .benefits-blurb .col-md-4 .content .icon img {
  width: 64px;
}
.benefits-section .container-fluid .benefits-blurb .col-md-4 .content h4 {
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 8px;
}
.benefits-section .container-fluid .benefits-blurb .col-md-4 .content p {
  font-size: 18px;
}
.benefits-section .container-fluid .last-row {
  border: none !important;
}

.expertise-section {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.66)), url(../img/Expertise-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.expertise-section .container-fluid .row .content .text h2 {
  color: #fff;
}
.expertise-section .container-fluid .row .content .text h2 .heading-color {
  color: #460cc8;
}
.expertise-section .container-fluid .row .content .text p {
  color: #fff;
}

.img-txt-section .container-fluid .row .image-column .img img {
  border-radius: 15px;
  margin-top: 45px;
}
.img-txt-section .container-fluid .row .content {
  padding: 0px 50px;
}
.img-txt-section .container-fluid .second-text {
  background: url(../img/Circle-border-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 55px;
}
.img-txt-section .container-fluid .second-text h2 {
  text-align: center;
  padding-top: 175px;
  margin-bottom: 36px;
}
.img-txt-section .container-fluid .second-text .button {
  margin: 0 auto;
  border: 1px solid;
  background: none;
}
.img-txt-section .container-fluid .second-text .button:hover {
  background: #460cc8;
  border-color: #460cc8;
}
.img-txt-section .container-fluid .second-text .button:hover a {
  color: #fff;
}
.img-txt-section .container-fluid .second-text .button a {
  color: #000;
}

.how-it-works-section .container-fluid {
  text-align: center;
}
.how-it-works-section .container-fluid .row .content {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.1607843137);
  border-radius: 10px;
  padding: 42px 36px;
}
@media (max-width: 767px) {
  .how-it-works-section .container-fluid .row .content {
    margin-bottom: 35px;
  }
}
.how-it-works-section .container-fluid .row .content .icon {
  margin-bottom: 12px;
}
.how-it-works-section .container-fluid .row .content .icon img {
  width: 70px;
}
.how-it-works-section .container-fluid .row .content h4 {
  font-weight: 600;
  font-size: 27px;
  margin-bottom: 3px;
}

/*### Blog ###*/
.blog-posts .container-fluid {
  /*### Row ###*/
}
.blog-posts .container-fluid .row {
  width: 95%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .blog-posts .container-fluid .row {
    width: 100%;
  }
}
.blog-posts .container-fluid .row .post-grid {
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.0901960784);
  transition: all 0.4s;
  /*### All-Posts ###*/
}
@media (max-width: 767px) {
  .blog-posts .container-fluid .row .post-grid {
    margin-bottom: 40px;
  }
}
.blog-posts .container-fluid .row .post-grid:hover {
  box-shadow: 0px 0px 12px 1px rgba(0, 0, 0, 0.31);
}
.blog-posts .container-fluid .row .post-grid .content {
  padding: 34px 42px;
}
.blog-posts .container-fluid .row .post-grid .content .publish-date {
  font-size: 14px;
  margin-bottom: 14px;
}
.blog-posts .container-fluid .row .post-grid .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #333;
  margin-bottom: 14px;
  transition: all 0.3s;
}
.blog-posts .container-fluid .row .post-grid .content h3:hover {
  color: #f16700;
}
.blog-posts .container-fluid .row .post-grid .content p {
  font-size: 16px;
  margin-bottom: 26px;
}
.blog-posts .container-fluid .row .post-grid .content a {
  color: #f16700;
  border-bottom: 1px solid;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
}
.blog-posts .container-fluid .row .post-grid .content a:hover {
  opacity: 0.8;
}

/*### Blog-End ###*/
/*### Contact ###*/
.contact {
  background: #460cc8;
}
.contact .container-fluid {
  /*### Row ###*/
}
.contact .container-fluid .row {
  /*### Contact-form ###*/
}
.contact .container-fluid .row .contact-form {
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .contact .container-fluid .row .contact-form {
    width: 100% !important;
  }
}
.contact .container-fluid .row .contact-form .container {
  padding: 16px;
  /* Full-width input fields */
}
.contact .container-fluid .row .contact-form .container input[type=text],
.contact .container-fluid .row .contact-form .container input[type=password],
.contact .container-fluid .row .contact-form .container input[type=tel],
.contact .container-fluid .row .contact-form .container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3803921569);
  color: #fff;
}
.contact .container-fluid .row .contact-form .container input[type=text]::placeholder,
.contact .container-fluid .row .contact-form .container input[type=password]::placeholder,
.contact .container-fluid .row .contact-form .container input[type=tel]::placeholder,
.contact .container-fluid .row .contact-form .container textarea::placeholder {
  color: #fff;
}
.contact .container-fluid .row .contact-form .container input[type=text]:focus,
.contact .container-fluid .row .contact-form .container input[type=password]:focus,
.contact .container-fluid .row .contact-form .container input[type=tel]:focus,
.contact .container-fluid .row .contact-form .container textarea {
  background-color: #ddd;
  outline: none;
  color: #fff;
}
.contact .container-fluid .row .contact-form .container .titles {
  text-align: center;
}
.contact .container-fluid .row .contact-form .container .titles h2 {
  color: #fff;
}
.contact .container-fluid .row .contact-form .container .titles p {
  margin-bottom: 0;
}
.contact .container-fluid .row .contact-form .container .button {
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.3803921569);
  background: none;
}
.contact .container-fluid .row .contact-form .container .button:hover {
  background-color: #fff;
}
.contact .container-fluid .row .contact-form .container .button:hover .btn {
  color: #460cc8;
}
.contact .container-fluid .row .contact-form .container .button .btn {
  color: #fff;
  font-size: 20px;
}

/*### Contact-End ###*/
@media (max-width: 1199px) {
  .navbar {
    padding: 0 2% !important;
  }
}
@media (max-width: 991px) {
  .banner-section .container-fluid .row {
    padding-top: 148px;
  }
}
@media (max-width: 767px) {
  .expertise-section {
    background: linear-gradient(90deg, rgb(0, 0, 0), rgba(0, 0, 0, 0.78)), url(../img/Expertise-bg.jpg);
  }
}
@media (max-width: 575px) {
  header .navbar .logo img {
    width: 125px;
  }
  .problem-statement .container-fluid .bottom-text {
    padding: 20px 5px;
    width: 95%;
    margin: 0 auto;
  }
  .problem-statement .container-fluid .bottom-text .text p {
    line-height: 1.7;
    font-size: 18px;
  }
  .benefits-section .container-fluid .text {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .problem-statement .container-fluid .second-text h2 {
    padding-top: 70px;
  }
}
.pricing-section .container-fluid .text {
  text-align: center;
  margin-bottom: 45px;
}
.pricing-section .container-fluid .row .content {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.0705882353);
  padding: 75px 40px;
  border-radius: 13px;
  text-align: center;
}
@media (max-width: 425px) {
  .pricing-section .container-fluid .row .content {
    padding: 38px 10px;
  }
}
.pricing-section .container-fluid .row .content .pricing-title {
  background: rgba(0, 0, 0, 0.08);
  color: #333;
  padding: 7px 20px;
  width: fit-content;
  border-radius: 42px;
  font-size: 17px;
  margin: 0 auto;
  margin-bottom: 12px;
}
.pricing-section .container-fluid .row .content p {
  margin-bottom: 2px;
}
.pricing-section .container-fluid .row .content h2 {
  color: #333;
}
.pricing-section .container-fluid .row .blue-bg {
  background: #460cc8;
}
.pricing-section .container-fluid .row .orange-bg {
  background: #f16700;
}
.pricing-section .container-fluid .row .highlight {
  color: #fff;
}
.pricing-section .container-fluid .row .highlight .pricing-title {
  color: #fff;
  background: rgba(255, 255, 255, 0.0784313725);
}
.pricing-section .container-fluid .row .highlight h2 {
  color: #fff;
}

.get-started-section {
  background: #fafafa;
}
.get-started-section .container-fluid .text {
  text-align: center;
  margin-bottom: 45px;
}
.get-started-section .container-fluid .row .content {
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  padding: 44px 36px;
  border-radius: 13px;
}
@media (max-width: 767px) {
  .get-started-section .container-fluid .row .content {
    margin-bottom: 20px;
  }
}
.get-started-section .container-fluid .row .content .icon {
  margin-bottom: 20px;
}
.get-started-section .container-fluid .row .content .icon img {
  width: auto;
}
.get-started-section .container-fluid .row .content .body-text h4 {
  font-weight: 800;
}
.get-started-section .container-fluid .last-row {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 1100px) {
  .get-started-section .container-fluid .last-row {
    width: 100%;
  }
}
.get-started-section .container-fluid .btn {
  margin: 40px auto;
  display: flex;
  width: fit-content;
  margin-top: 40px;
}

.Contact .container-fluid .row {
  /*### Contact-form ###*/
}
.Contact .container-fluid .row .contact-form {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1411764706);
  border-radius: 20px;
  padding: 26px 40px;
  margin: 0 auto;
}
@media (max-width: 496px) {
  .Contact .container-fluid .row .contact-form {
    padding: 10px 12px;
  }
}
@media (max-width: 1199px) {
  .Contact .container-fluid .row .contact-form {
    width: 100% !important;
  }
}
.Contact .container-fluid .row .contact-form .container {
  padding: 16px;
  /* Full-width input fields */
}
.Contact .container-fluid .row .contact-form .container input[type=text],
.Contact .container-fluid .row .contact-form .container input[type=password],
.Contact .container-fluid .row .contact-form .container input[type=tel],
.Contact .container-fluid .row .contact-form .container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: transparent !important;
  border: 1px solid rgba(51, 51, 51, 0.1411764706);
  border-radius: 6px;
  color: #333;
}
.Contact .container-fluid .row .contact-form .container input[type=text]::placeholder,
.Contact .container-fluid .row .contact-form .container input[type=password]::placeholder,
.Contact .container-fluid .row .contact-form .container input[type=tel]::placeholder,
.Contact .container-fluid .row .contact-form .container textarea::placeholder {
  color: #333;
}
.Contact .container-fluid .row .contact-form .container input[type=text]:focus,
.Contact .container-fluid .row .contact-form .container input[type=password]:focus,
.Contact .container-fluid .row .contact-form .container input[type=tel]:focus,
.Contact .container-fluid .row .contact-form .container textarea {
  background-color: #333;
  outline: none;
  color: #333;
}
.Contact .container-fluid .row .contact-form .container .titles {
  text-align: center;
}
.Contact .container-fluid .row .contact-form .container .titles h2 {
  color: #333;
}
.Contact .container-fluid .row .contact-form .container .titles p {
  margin-bottom: 0;
}
.Contact .container-fluid .row .contact-form .container .button {
  margin: 0 auto;
  border: 1px solid #333;
  background: none;
}
.Contact .container-fluid .row .contact-form .container .button:hover {
  background-color: #460cc8;
}
.Contact .container-fluid .row .contact-form .container .button:hover .btn {
  color: #fff;
}
.Contact .container-fluid .row .contact-form .container .button .btn {
  color: #333;
  font-size: 20px;
}

footer {
  background: #000;
  padding-top: 5%;
}
footer .container-fluid .row .logo {
  margin-bottom: 20px;
}
footer .container-fluid .row .logo img {
  width: 165px;
  filter: brightness(0) invert(1);
}
footer .container-fluid .row p {
  color: rgba(255, 255, 255, 0.631372549);
  font-size: 17px;
}
footer .container-fluid .row h4 {
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}
footer .container-fluid .row ul {
  display: flex;
}
footer .container-fluid .row ul li {
  font-size: 17px;
  margin-right: 14px;
}
footer .container-fluid .row ul li a {
  color: rgba(255, 255, 255, 0.631372549);
}
footer .container-fluid .row .bottom-row {
  border-top: 1px solid rgba(255, 255, 255, 0.5294117647);
  margin-top: 57px;
  padding-top: 20px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
