h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: $font;
}

.container-fluid {
  padding: 0 5%;
}

section {
  padding: 5% 0;
}

h1 {
  font-size: 85px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: $secondry;
}

h2 {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 20px;
  line-height: 1.1;
  color: $secondry;
}

p {
  font-size: 20px;
  margin-bottom: 26px;
  line-height: 1.7;
}

.button {
  //   background: linear-gradient(132deg, #ef661f, #480cc0);
  background-image: linear-gradient(130deg, #ed652d, #480cba, #eb642c, #490cbb);
  background-size: 300% 100%;
  width: fit-content;

  padding: 12px 45px;
  font-size: 20px;
  border-radius: 6px;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-position: 100% 0;
    transition: all 0.4s ease-in-out;
  }
  a {
    color: #fff;
  }
}

.heading-color {
  color: #000;
}

@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .img-txt-section .container-fluid .row .content {
    padding: 40px 50px !important;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 400px) {
  section {
    padding: 10% 0;
  }
  .img-txt-section .container-fluid .row .content {
    padding: 40px 10px !important;
  }
}
