h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: $font;
}

.container-fluid {
  padding: 0 5%;
}

section {
  padding: 5% 0;
}

h1 {
  font-size: 85px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
  color: $primary;
}

h2 {
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 20px;
  line-height: 1.1;
  color: #000;
}

p {
  font-size: 20px;
  margin-bottom: 26px;
  line-height: 1.7;
}

.image img {
  border-radius: 15px;
}

.button {
  //   background: linear-gradient(132deg, #ef661f, #480cc0);

  border: 1px solid #000;
  width: fit-content;
  padding: 12px 45px;
  font-size: 20px;
  border-radius: 60px;
  transition: 0.3s all;
  &:hover {
    background: #000;
    a {
      color: #fff;
    }
  }
  a {
    color: #000;
  }
}

.nav-item a.nav-link.active-button {
  color: #fff !important;
  background: $primary;
  border: 1px solid $primary;
  padding: 10px 30px !important;
  border-radius: 60px;
  transition: 0.3s all;
  margin-top: 30px !important;
  &:hover {
    background: transparent;
    border-color: #000;
    color: #000 !important;
  }
}

.heading-color {
  color: #000;
}

.col-12 {
  padding: 0 30px;
}

.page-header {
  background: $primary;
  .container-fluid {
    .row {
      text-align: center;
      padding-top: 100px;
      color: #fff;
      h1 {
        color: #fff;
      }
    }
  }
}

@media (max-width: 768px) {
  .col-12 {
    padding-top: 18px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }
  .img-txt-section .container-fluid .row .content {
    padding: 40px 50px !important;
  }
}

@media (max-width: 575px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 34px;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 35px;
    line-height: 1.2;
  }
  section {
    padding: 10% 0;
  }
  .img-txt-section .container-fluid .row .content {
    padding: 40px 10px !important;
  }
}
