/*## Banner-Section ##*/
.banner-section {
  background-image: linear-gradient(161deg, #f27f292e, 3%, transparent);
  .container-fluid {
    .row {
      padding-top: 86px;
      text-align: center;
      .content {
        width: 1294px;
        margin: 0 auto;
        .text {
          margin-bottom: 70px;
          .button {
            margin: 0 auto;
          }
        }
        .video {
          width: 85%;
          margin: 0 auto;
          position: relative;
          &:hover {
            img {
              opacity: 0.2;
            }
            .icon {
              opacity: 1;
            }
          }
          .image {
            img {
              border-radius: 18px;
              box-shadow: 0px 5px 40px 0px #00000017;
              transition: 0.3s all;
            }
          }
          .icon {
            position: absolute;
            top: 40%;
            left: 45%;
            opacity: 0;
            transition: all 0.5s;
            i {
              font-size: 110px;
              background: $secondry;
              background-size: 100%;
              background-repeat: repeat;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }
        }
      }
    }
  }
}

.simplicity-section {
  padding: 0;
  .container-fluid {
    padding: 0;
    .row {
      .col-md-6 {
        padding: 0;
        .content {
          padding: 86px 105px;
          @media (max-width: 425px) {
            padding: 43px 45px;
          }
        }
      }
      .simplicity-img {
        background: url(../img/simplicity.jpg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.benefits-section {
  .container-fluid {
    .heading {
      h2 {
        text-align: center;
      }
    }
    .row {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 60px;
      .content {
        .icon {
          margin-bottom: 26px;
          img {
            width: auto;
          }
        }
        .body-text {
          h4 {
            font-weight: 900;
          }
          p {
            margin-bottom: 10px;
          }
          a {
            color: $primary;
            transition: 0.3s all;
            &:hover {
              color: #666;
            }
          }
        }
      }
    }
  }
}

.problem-statement {
  .container-fluid {
    .bottom-text {
      background: #470cc4;
      padding: 46px 52px;
      border-radius: 15px;
      .text {
        p {
          color: #fff;
          text-align: center;
          line-height: 1.9;
        }
      }
    }
  }
}

.approach-section {
  background: #f5f6f8;
  .box {
    padding: 16px 20px;
    border-radius: 20px;
    margin-bottom: 8px;
    transition: 0.3s all;

    &:hover {
      box-shadow: 0px 0px 12px 0px #00000029;
      background: #460bc7;
      color: #fff;
    }
    p {
      margin: 0;
    }
  }
}

.benefits-section {
  .container-fluid {
    .text {
      text-align: center;
      width: 70%;
      margin: 0 auto;
    }
    .button {
      margin: 0 auto;
    }
    .benefits-blurb {
      padding: 30px 0px;
      border-bottom: 1px solid #00000021;
      .col-md-4 {
        padding: 0px 30px;
        .content {
          .icon {
            margin-bottom: 19px;
            img {
              width: 64px;
            }
          }
          h4 {
            font-weight: 600;
            font-size: 28px;
            margin-bottom: 8px;
          }
          p {
            font-size: 18px;
          }
        }
      }
    }
    .last-row {
      border: none !important;
    }
  }
}

.expertise-section {
  background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0 0 0 / 66%)),
    url(../img/Expertise-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .container-fluid {
    .row {
      .content {
        .text {
          h2 {
            color: #fff;
            .heading-color {
              color: $secondry;
            }
          }
          p {
            color: #fff;
          }
        }
      }
    }
  }
}

.img-txt-section {
  .container-fluid {
    .row {
      .image-column {
        .img {
          img {
            border-radius: 15px;
            margin-top: 45px;
          }
        }
      }
      .content {
        padding: 0px 50px;
      }
    }
    .second-text {
      background: url(../img/Circle-border-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      padding-bottom: 55px;
      h2 {
        text-align: center;
        padding-top: 175px;
        margin-bottom: 36px;
      }
      .button {
        margin: 0 auto;
        border: 1px solid;
        background: none;
        &:hover {
          background: $secondry;
          border-color: $secondry;
          a {
            color: #fff;
          }
        }
        a {
          color: #000;
        }
      }
    }
  }
}

.how-it-works-section {
  background: #fafafa;
  .container-fluid {
    text-align: center;
    .row {
      margin-top: 65px;
      gap: 40px;
      justify-content: center;
      .col-md-3 {
        box-shadow: 0px 0px 24px 0px rgb(0 0 0 / 7%);
        border-radius: 10px;
        padding: 42px 36px;
        background: #fff;
      }
      .content {
        padding: 0;
        @media (max-width: 767px) {
          margin-bottom: 35px;
        }
        .icon {
          margin-bottom: 12px;
          img {
            width: 70px;
          }
        }
        h4 {
          font-weight: 600;
          font-size: 27px;
          margin-bottom: 3px;
        }
      }
    }
  }
}

/*### Blog ###*/
.blog-posts {
  .container-fluid {
    /*### Row ###*/
    .row {
      width: 95%;
      margin: 0 auto;
      @media (max-width: 1200px) {
        width: 100%;
      }
      .post-grid {
        box-shadow: 0px 0px 12px 1px #00000017;
        transition: all 0.4s;
        @media (max-width: 767px) {
          margin-bottom: 40px;
        }
        &:hover {
          box-shadow: 0px 0px 12px 1px rgb(0 0 0 / 31%);
        }
        /*### All-Posts ###*/
        .content {
          padding: 34px 42px;
          .publish-date {
            font-size: 14px;
            margin-bottom: 14px;
          }
          h3 {
            font-weight: 700;
            font-size: 24px;
            color: #333;
            margin-bottom: 14px;
            transition: all 0.3s;
            &:hover {
              color: $primary;
            }
          }
          p {
            font-size: 16px;
            margin-bottom: 26px;
          }
          a {
            color: $primary;
            border-bottom: 1px solid;
            font-size: 18px;
            font-weight: 700;
            transition: all 0.3s;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

/*### Blog-End ###*/

/*### Contact ###*/
.contact {
  background: #fafafa;
  padding: 0;
  padding-bottom: 5%;
  .container-fluid {
    /*### Row ###*/
    .row {
      width: 90%;
      margin: 0 auto;
      box-shadow: 0px 0px 25px 0px #00000014;
      .column-1 {
        background: #460bc7;
        display: flex;
        align-items: center;
      }

      .column-2 {
        background: #fff;
        padding: 37px 45px;

        @media (max-width: 425px) {
          padding: 19px 10px;
        }
        /*### Contact-form ###*/
        .contact-form {
          .container {
            padding: 16px;
            /* Full-width input fields */
            input[type="text"],
            input[type="password"],
            input[type="tel"],
            textarea {
              width: 100%;
              padding: 15px;
              margin: 5px 0 22px 0;
              display: inline-block;
              border: none;
              background: transparent !important;
              border-bottom: 1px solid #333;
              color: #333;
              &::placeholder {
                color: #333;
              }
            }

            input[type="text"]:focus,
            input[type="password"]:focus,
            input[type="tel"]:focus,
            textarea {
              background-color: #333;
              outline: none;
              color: #333;
            }

            .titles {
              text-align: center;
              h2 {
                color: #333;
              }
              p {
                margin-bottom: 0;
              }
            }
            .button {
              margin: 0 auto;
              border: 1px solid $secondry;
              background: $secondry;
              &:hover {
                background-color: transparent;
                border-color: #333;

                .btn {
                  color: #333;
                }
              }
              .btn {
                color: #fff;
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

/*### Contact-End ###*/

@media (max-width: 1199px) {
  .navbar {
    padding: 0 2% !important;
  }
}

@media (max-width: 991px) {
  .banner-section {
    .container-fluid .row {
      padding-top: 148px;
    }
  }
}

@media (max-width: 767px) {
  .expertise-section {
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(0 0 0 / 78%)),
      url(../img/Expertise-bg.jpg);
  }
}

@media (max-width: 575px) {
  header .navbar .logo img {
    width: 125px;
  }
  .problem-statement {
    .container-fluid {
      .bottom-text {
        padding: 20px 5px;
        width: 95%;
        margin: 0 auto;
        .text {
          p {
            line-height: 1.7;
            font-size: 18px;
          }
        }
      }
    }
  }

  .benefits-section {
    .container-fluid {
      .text {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 400px) {
  .problem-statement {
    .container-fluid {
      .second-text {
        h2 {
          padding-top: 70px;
        }
      }
    }
  }
}

.call-to-action-sec {
  padding: 0;
}
